/*oo.basic setting*/
.list-inline li {
  display: inline-block;
}

/*01.header*/
header .topbar {
  background: #009146;
  position: relative;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

header .topbar .header-time .count-list li {
  background: #1a9c59;
  padding: 13px 22px;
  margin: 0 3px;
  cursor: pointer;
}

header .topbar .header-time .count-list li:first-child {
  background-color: transparent;
  padding: 13px 0;
  cursor: inherit;
  margin-left: 0;
}

header .topbar .header-time .count-list li h6 {
  font-size: 16px;
  margin: 0;
  color: #fff;
  font-weight: 700;
  padding-right: 22px;
  display: block;
}

header .topbar .header-time .count-list li span {
  color: #fff;
  margin: 0;
  display: inline-block;
  font-size: 16px;
}

header .topbar .header-time .count-list li span.count {
  font-weight: 700;
  margin-right: 8px;
}

header .topbar .header-time .count-list li span.con {
  opacity: 0.5;
  font-weight: 400;
  transition: all 0.3s;
}

header .topbar .header-time .count-list li:hover span.con{
  opacity: 1;
}

header .topbar .header-social ul li {
  padding: 13px 0 7px 17px;
}

header .topbar .header-social ul li a {
  font-size: 20px;
  display: block;
  color: #fff;
  opacity: 0.3;
}

header .topbar .header-social ul li a:hover{
  opacity: 1;
  color: #fff;
}

/*02.main-header*/
.main-header {
  background: #fff;
}

.main-header .logo-area a {
  display: block;
  padding: 0;
  line-height: 117px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.main-header .menu-area nav ul li:first-child a {
  padding-left: 0;
}

.main-header .menu-area nav ul li a {
  color: #111;
  display: block;
  line-height: 117px;
  padding: 0 20px;
  text-decoration: none;
}

.main-header .menu-area nav ul li a:hover {
  color: #009146;
}

.main-header .menu-area nav ul li.menu-btn {
  text-align: right;
}

.main-header .menu-area nav ul li:last-child {
  float: right;
}

.main-header .menu-area nav ul li.menu-btn li {
  line-height: 117px;
}

.main-header .menu-area nav ul li.menu-btn li .search-ico {
  display: block;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: #009146;
  font-weight: 700;
}

.main-header .menu-area nav ul li.menu-btn li:last-child {
  margin-left: 10px;
}

.main-header .menu-area nav ul li.menu-btn li .search-ico i:hover{
  color: #e5ae49;
}

.main-header .menu-area nav ul li.menu-btn li .btn1 span{
  background-color: #e5ae49;
  color: #fff;
  border-radius: 5px;
  padding: 15px 25px;
  font-weight: 600;
}














