/*oo.basic setting*/
.list-inline li {
  display: inline-block;
}

/*01.header*/
header .topbar {
  background: #009146;
  position: relative;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

header .topbar .header-time .count-list li {
  background: #1a9c59;
  padding: 13px 22px;
  margin: 0 3px;
  cursor: pointer;
}

header .topbar .header-time .count-list li:first-child {
  background-color: transparent;
  padding: 13px 0;
  cursor: inherit;
  margin-left: 0;
}

header .topbar .header-time .count-list li h6 {
  font-size: 16px;
  margin: 0;
  color: #fff;
  font-weight: 700;
  padding-right: 22px;
  display: block;
}

header .topbar .header-time .count-list li span {
  color: #fff;
  margin: 0;
  display: inline-block;
  font-size: 16px;
}

header .topbar .header-time .count-list li span.count {
  font-weight: 700;
  margin-right: 8px;
}

header .topbar .header-time .count-list li span.con {
  opacity: 0.5;
  font-weight: 400;
  transition: all 0.3s;
}

header .topbar .header-time .count-list li:hover span.con{
  opacity: 1;
}

header .topbar .header-social ul li {
  padding: 13px 0 7px 17px;
}

header .topbar .header-social ul li a {
  font-size: 20px;
  display: block;
  color: #fff;
  opacity: 0.3;
}

header .topbar .header-social ul li a:hover{
  opacity: 1;
  color: #fff;
}

/*02.main-header*/
.main-header {
  background: #fff;
}

.main-header .logo-area a {
  display: block;
  padding: 0;
  line-height: 117px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.main-header .menu-area nav ul li:first-child a {
  padding-left: 0;
}

.main-header .menu-area nav ul li a {
  color: #111;
  display: block;
  line-height: 117px;
  padding: 0 20px;
  text-decoration: none;
}

.main-header .menu-area nav ul li a:hover {
  color: #009146;
}

.main-header .menu-area nav ul li.menu-btn {
  text-align: right;
}

.main-header .menu-area nav ul li:last-child {
  float: right;
}

.main-header .menu-area nav ul li.menu-btn li {
  line-height: 117px;
}

.main-header .menu-area nav ul li.menu-btn li .search-ico {
  display: block;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: #009146;
  font-weight: 700;
}

.main-header .menu-area nav ul li.menu-btn li:last-child {
  margin-left: 10px;
}

.main-header .menu-area nav ul li.menu-btn li .search-ico i:hover{
  color: #e5ae49;
}

.main-header .menu-area nav ul li.menu-btn li .btn1 span{
  background-color: #e5ae49;
  color: #fff;
  border-radius: 5px;
  padding: 15px 25px;
  font-weight: 600;
}

/*03.carousel*/
.carousel .carousel-inner .carousel-item img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel .carousel-inner .carousel-item:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.carousel .carousel-inner .carousel-item .carousel-caption{
  top: 0%;
  transform: translateY(10%);
}

.carousel .carousel-inner .carousel-item .carousel-caption h2 {
  margin: 0 0 50px;
  font-size: 68px;
}

.carousel .carousel-inner .carousel-item .carousel-caption h2 .primary {
  color: #009146;
}

.carousel .carousel-inner .carousel-item .carousel-caption h2 .hover {
  color: #e5ae49;
}

.btn2 {
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  padding: 0 32px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.carousel .carousel-inner .carousel-item .carousel-caption a {
  transition: all 0.3s;
  text-decoration: none;
}

.btn2:hover {
  background: #009146 !important;
  color: #fff;
  border: 2px solid #009146;
}

/*04.section-banner-one*/
.banner-one {
  background: #f5f5f5;
  position: relative;
  padding: 76px 0;
  display: block;
  margin: 0 0 38px;
}

.banner-one .banner-content h2 {
  color: #009146;
  margin: 0 0 30px;
}

.banner-one .banner-content span a {
  color: #009146;
}

.banner-one .contact-banner {
  position: absolute;
  top: -76px;
  left: 15px;
  right: 15px;
  bottom: -37px;
}

.banner-one .contact-banner figure {
  position: relative;
  margin: 0;
}

.banner-one .contact-banner figure img {
  width: 100%;
}

.banner-one .contact-banner figure .content {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

.banner-one .contact-banner figure .content h4 {
  position: relative;
  font-size: 20px;
  color: #fff;
  padding: 0 0 24px;
  margin: 0 0 35px;
}

.banner-one .contact-banner figure .content h4:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  text-align: center;
  background: url(http://www.webstrot.com/html/tm/worship/images/section/2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.banner-one .contact-banner figure .content h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin: 0 0 5px;
  display: block;
}

.banner-one .contact-banner figure .content .mail {
  color: #fff;
  font-size: 20px;
  display: block;
  margin: 0 0 35px;
}

.btn3 {
  display: inline-block;
  position: relative;
  line-height: 50px;
  padding: 0 45px;
  color: #111111;
  font-weight: 700;
  border-radius: 5px;
}

/*.btn3:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn3 span {
  position: relative;
  z-index: 999;
  text-decoration: none;
}

.btn3:hover {
  background-color: #e5ae49;
  color: #fff;
}*/

.btn3{
  padding: 5px 40px;
  border-radius: 5px;
  background-color: #fff;
}

.btn3:hover{
  text-decoration: none;
  background-color: #e5ae49;
}

.btn3 span{
  color: #000;
}

.banner-one .contact-banner figure:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 145, 70, 0.9);
}

p {
  font-size: 16px;
  color: #797979;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
}










