/*oo.basic setting*/
.list-inline li {
  display: inline-block;
}

/*01.header*/
header .topbar {
  background: #009146;
  position: relative;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

header .topbar .header-time .count-list li {
  background: #1a9c59;
  padding: 13px 22px;
  margin: 0 3px;
  cursor: pointer;
}

header .topbar .header-time .count-list li:first-child {
  background-color: transparent;
  padding: 13px 0;
  cursor: inherit;
  margin-left: 0;
}

header .topbar .header-time .count-list li h6 {
  font-size: 16px;
  margin: 0;
  color: #fff;
  font-weight: 700;
  padding-right: 22px;
  display: block;
}

header .topbar .header-time .count-list li span {
  color: #fff;
  margin: 0;
  display: inline-block;
  font-size: 16px;
}

header .topbar .header-time .count-list li span.count {
  font-weight: 700;
  margin-right: 8px;
}

header .topbar .header-time .count-list li span.con {
  opacity: 0.5;
  font-weight: 400;
  transition: all 0.3s;
}

header .topbar .header-time .count-list li:hover span.con{
  opacity: 1;
}

header .topbar .header-social ul li {
  padding: 13px 0 7px 17px;
}

header .topbar .header-social ul li a {
  font-size: 20px;
  display: block;
  color: #fff;
  opacity: 0.3;
}

header .topbar .header-social ul li a:hover{
  opacity: 1;
  color: #fff;
}

/*02.main-header*/
.main-header {
  background: #fff;
}

.main-header .logo-area a {
  display: block;
  padding: 0;
  line-height: 117px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.main-header .menu-area nav ul li:first-child a {
  padding-left: 0;
}

.main-header .menu-area nav ul li a {
  color: #111;
  display: block;
  line-height: 117px;
  padding: 0 20px;
  text-decoration: none;
}

.main-header .menu-area nav ul li a:hover {
  color: #009146;
}

.main-header .menu-area nav ul li.menu-btn {
  text-align: right;
}

.main-header .menu-area nav ul li:last-child {
  float: right;
}

.main-header .menu-area nav ul li.menu-btn li {
  line-height: 117px;
}

.main-header .menu-area nav ul li.menu-btn li .search-ico {
  display: block;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: #009146;
  font-weight: 700;
}

.main-header .menu-area nav ul li.menu-btn li:last-child {
  margin-left: 10px;
}

.main-header .menu-area nav ul li.menu-btn li .search-ico i:hover{
  color: #e5ae49;
}

.main-header .menu-area nav ul li.menu-btn li .btn1 span{
  background-color: #e5ae49;
  color: #fff;
  border-radius: 5px;
  padding: 15px 25px;
  font-weight: 600;
}

/*03.carousel*/
.carousel .carousel-inner .carousel-item img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel .carousel-inner .carousel-item:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.carousel .carousel-inner .carousel-item .carousel-caption{
  top: 0%;
  transform: translateY(10%);
}

.carousel .carousel-inner .carousel-item .carousel-caption h2 {
  margin: 0 0 50px;
  font-size: 68px;
}

.carousel .carousel-inner .carousel-item .carousel-caption h2 .primary {
  color: #009146;
}

.carousel .carousel-inner .carousel-item .carousel-caption h2 .hover {
  color: #e5ae49;
}

.btn2 {
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  padding: 0 32px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.carousel .carousel-inner .carousel-item .carousel-caption a {
  transition: all 0.3s;
  text-decoration: none;
}

.btn2:hover {
  background: #009146 !important;
  color: #fff;
  border: 2px solid #009146;
}

/*04.section-banner-one*/
.banner-one {
  background: #f5f5f5;
  position: relative;
  padding: 76px 0;
  display: block;
  margin: 0 0 38px;
}

.banner-one .banner-content h2 {
  color: #009146;
  margin: 0 0 30px;
}

.banner-one .banner-content span a {
  color: #009146;
}

.banner-one .contact-banner {
  position: absolute;
  top: -76px;
  left: 15px;
  right: 15px;
  bottom: -37px;
}

.banner-one .contact-banner figure {
  position: relative;
  margin: 0;
}

.banner-one .contact-banner figure img {
  width: 100%;
}

.banner-one .contact-banner figure .content {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

.banner-one .contact-banner figure .content h4 {
  position: relative;
  font-size: 20px;
  color: #fff;
  padding: 0 0 24px;
  margin: 0 0 35px;
}

.banner-one .contact-banner figure .content h4:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  text-align: center;
  background: url(http://www.webstrot.com/html/tm/worship/images/section/2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.banner-one .contact-banner figure .content h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin: 0 0 5px;
  display: block;
}

.banner-one .contact-banner figure .content .mail {
  color: #fff;
  font-size: 20px;
  display: block;
  margin: 0 0 35px;
}

.btn3 {
  display: inline-block;
  position: relative;
  line-height: 50px;
  padding: 0 45px;
  color: #111111;
  font-weight: 700;
  border-radius: 5px;
}

.btn3{
  padding: 5px 40px;
  border-radius: 5px;
  background-color: #fff;
}

.btn3:hover{
  text-decoration: none;
  background-color: #e5ae49;
}

.btn3 span{
  color: #000;
}

.banner-one .contact-banner figure:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 145, 70, 0.9);
}

p {
  font-size: 16px;
  color: #797979;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
}

/*05.section-banner-two*/
.banner-two{
  padding: 100px 0;
}

.banner-two .banner-image .title {
  position: absolute;
  left: -156px;
  top: 202px;
  transform: rotate(-90deg);
  border: 8px solid #f5f5f5;
  z-index: -1;
}

.banner-two .banner-image img{
  z-index: 99;
}

.banner-two .banner-image .title h4 {
  margin: 0;
  font-size: 20px;
  padding: 20px 110px 100px 65px;
  color: #c9c9c9;
}

.banner-two .img-content h2 {
  position: relative;
  display: block;
  padding: 0 0 38px;
  color: #111111;
  margin: 0 0 30px;
}

.banner-two .img-content h2:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  background: url(http://www.webstrot.com/html/tm/worship/images/section/3.png) no-repeat;
}

.banner-two .img-content p {
  margin: 0 0 50px;
}

.banner-two .img-content .about {
  width: 100%;
  display: block;
  float: left;
}

.banner-two .img-content .about .about-block{
  float: left;
  width: 50%;
}

.banner-two .img-content .about .pd-r15{
  padding-right: 15px;
}

.banner-two .img-content .about .about-block h4 {
  color: #111111;
  font-size: 20px;
  margin: 0 0 20px;
}

.banner-two .img-content .about .about-block h4 span {
  color: #000;
  font-size: 20px;
  display: inline-block;
  margin-right: 14px;
  width: 46px;
  height: 46px;
  position: relative;
  border-radius: 100%;
  text-align: center;
  line-height: 46px;
  cursor: pointer;
}

.banner-two .img-content .about .about-block h4 span:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #009146;
  border-radius: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.banner-two .img-content .about .about-block h4 span i{
  color: #fff;
}

.banner-two .img-content .about .about-block p {
    margin: 0;
}

.banner-two .img-content .about .pd-l15{
  padding-left: 15px;
}

/*06.section-banner-three*/
.banner-three{
  padding: 100px 0 70px;
  background: url(http://www.webstrot.com/html/tm/worship/images/banner/bg-1.jpg);
  padding: 100px 0 70px;
  z-index: 0;
  position: relative;
}
.banner-three:after{
  background: rgba(0, 0, 0, 0.8);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bg-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  display: block;
  position: relative;
  z-index: 999;
  padding: 0;
  margin: 0 0 56px;
  text-align: center;
}

.title h2 {
  position: relative;
  color: #fff;
  margin: 0;
  padding: 0 0 28px;
  display: block;
}

.title h2:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  background: url(http://www.webstrot.com/html/tm/worship/images/section/2.png) no-repeat;
  background-position: center;
}

.banner-three .prayer-list {
  position: relative;
  z-index: 999;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  border-radius: 5px;
  margin-bottom: 30px;
}

.banner-three .prayer-list h4 {
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 18px 0;
}

.banner-three .prayer-list strong {
  display: block;
  margin: 0 0 15px;
  color: #fff;
  font-size: 24px;
}

.banner-three .prayer-list button {
  display: inline-block;
  background: #009146;
  color: #fff;
  border-radius: 5px;
  margin: 0 0 28px;
  padding: 10px 23px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #009146;
}

.banner-three .prayer-list button:hover {
  background: #e5ae49;
  border: 1px solid #e5ae49;
}

/*07.section-banner-four*/
.banner-four{
  padding: 100px 0 70px;
}

.section_heading {
  display: block;
  position: relative;
  padding: 0;
  margin: 0 0 50px;
  text-align: center;
}

.section_heading h2 {
  display: block;
  position: relative;
  padding: 0 0 28px;
  margin: 0 0 30px;
  color: #111;
}

.section_heading h2:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  background: url(http://www.webstrot.com/html/tm/worship/images/section/1.png) no-repeat;
  background-position: center;
}

.section_heading p {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 70%;
}

.donate-list{
  box-sizing: border-box;
  border: 8px solid #f5f5f5;
  border-top: 0;
}

figure{
  margin: 0;
}

.donate-list .donate-content{
  padding: 35px 15px 55px 20px;
}

.banner-four .donate-list .donate-content .date {
  display: block;
  margin: 0 0 15px;
}

.banner-four .donate-list .donate-content .date i {
  color: #009146;
  margin-right: 10px;
  transition: all 0.3s;
}

.banner-four .donate-list .donate-content h4 {
  font-size: 20px;
  margin: 0 0 5px;
}

.banner-four .donate-list .donate-content h4 a {
  color: #111111;
  text-decoration: none;
}

.banner-four .donate-list .donate-content p {
  margin: 0 0 26px;
}

.banner-four .donate-list .donate-content p a {
  margin-left: 3px;
  display: inline-block;
  color: #009146;
  text-decoration: none;
}

.banner-four .donate-list .donate-content .money {
  font-size: 18px;
  color: #111111;
  display: block;
  margin: 0 0 25px;
}

.banner-four .donate-list .donate-content .money span {
  font-weight: 900;
  color: #111111;
  font-size: 14px;
}

.banner-four .donate-list .donate-content .money strong {
  font-weight: 900;
  color: #009146;
  font-size: 34px;
  transition: all 0.3s;
}

.btn4 {
  color: #fff;
  background-color: #009146;
  padding: 15px 35px;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
}

.btn4:hover{
  background-color: #e5ae49;
  cursor: pointer;
}

/*08.section-banner-five*/
.banner-five .counter {
  background: #009146;
  display: block;
  padding: 83px 0;
}

.banner-five .counter .ico {
  font-size: 30px;
  color: #fff;
  display: block;
  margin: 0;
}

.banner-five .counter .count-number {
  display: block;
  margin: 0;
}

.banner-five .counter .count-number span {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
}

.banner-five .counter h4 {
  margin: 0;
  color: #fff;
  font-size: 18px;
}

.pd-0 {
  padding: 0px;
}

.banner-five .counter2 {
  background: #00994a;
  display: block;
  padding: 83px 0;
}

.banner-five .counter2 .ico {
  font-size: 30px;
  color: #fff;
  display: block;
  margin: 0;
}

.banner-five .counter2 .count-number {
  display: block;
  margin: 0;
}

.banner-five .counter2 .count-number span {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
}

.banner-five .counter2 h4 {
  margin: 0;
  color: #fff;
  font-size: 18px;
}







